.gameGrid {
  height: 100%;
  width: 100%;

  display: flex;
}

.boardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.switchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.switchContainer p {
  font-size: var(--size-3);
  margin: 0;
  margin-top: calc(var(--size-3) * -1);
}

@media (max-width: 600px) {
  .gameGrid {
    flex-direction: column;
  }
}

@media (max-height: 850px) {
  .switchContainer p {
    display: none;
  }
}

@media (max-height: 600px) and (max-width: 850px) {
  .blankForCenter {
    display: none;
  }
}
