.button{
	background-color: inherit;
	border: none;
	font-family: var(--main-font);
	font-size: 2rem;
	cursor: pointer;
	transition: .2s;
}	

.button p {
	font-size: 2rem;
	margin: 0;
}

.button:hover{
	color: var(--seondary-font-color)
}