.button,
.unactiveButton {
  background-color: inherit;
  border: none;
  font-family: var(--main-font);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
}

.unactiveButton {
  margin: 0;
	opacity: .4;
}

.button p {
  margin: 0;
}

.button:hover {
  color: var(--seondary-font-color);
}
