.container {
  position: absolute;
  /* background-color: red; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  transition: 0.4s;
  cursor: pointer;
}

.container svg {
  height: 30px;
  fill: var(--main-font-color);
  transition: 0.4s;
}

@media (min-width: 850px) {
  .container:hover {
    background-color: var(--main-font-color);
    opacity: 0.2;
  }

  .container:hover svg {
    fill: var(--main-bg-color);
  }
}
