.container {
	text-align: center;
}

.header {
	text-transform: uppercase;
	font-weight: normal;
	font-size: var(--size-15);
	margin: 0;
}

.inputContainer {
	margin: 40px;
}

.info button {
	margin: 10px 0;
	border: none;
	background: inherit;
	color: var(--seondary-font-color);
	cursor: pointer;
}

@media (max-height: 450px){
	.inputContainer {
		margin: 10px;
	}
}