@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;

  --size-025: 0.25rem;
  --size-05: 0.5rem;
  --size-1: 1rem;
  --size-3: 3rem;
  --size-4: 4rem;
  --size-6: 6rem;
  --size-8: 8rem;

  --main-font: Play;

  --main-bg-color: #e0dfd5;
  --main-font-color: #313638;
  --seondary-font-color: #db9614;

  background-color: var(--main-bg-color);
  font-family: var(--main-font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media (max-width: 850px){
	*{
		font-size: 12px;
	}
}

@media (max-height: 850px){
	*{
		font-size: 10px;
	}
}
